@model FinanceManager2._0.Models.Category

<h2>Редагувати категорію</h2>

<form asp-action="Edit" method="post" class="card-custom">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Назва</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsExpense" class="form-check-input" />
        <label class="form-check-label">
            Це витрати?
        </label>
    </div>

    <button class="btn btn-warning">💾 Зберегти</button>
    <a asp-action="Index" class="btn btn-secondary">⬅ Назад</a>

</form>